.column--between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.column--centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.column--start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
