.card--glass {
  padding-inline: var(--space-xs);
  border-radius: var(--rounded-md);
  filter: drop-shadow(
    var(--shadow-xl-narrow)
      hsla(
        var(--type-accent),
        var(--lightness-shadow),
        var(--glass-opacity-clip)
      )
  );
  -webkit-backdrop-filter: blur(var(--glass-blur));
  backdrop-filter: blur(var(--glass-blur));
  background-color: hsla(
    var(--type-accent),
    var(--glass-lightness),
    var(--glass-opacity-mid)
  );
  box-shadow: var(--shadow-md-narrow)
    hsla(var(--type-accent), var(--lightness-shadow), var(--glass-opacity-mid));
  border: var(--glass-border);
}

.card {
  padding-inline: var(--space-xs);
  border-radius: var(--rounded-md);
  border: var(--glass-border);
  min-height: 4rem;
  box-shadow: var(--shadow-lg-narrow)
    hsla(var(--type-accent), var(--lightness-shadow), var(--glass-opacity-mid));
  &--glass {
    filter: drop-shadow(
      var(--shadow-xl-narrow)
        hsla(
          var(--type-accent),
          var(--lightness-shadow),
          var(--glass-opacity-clip)
        )
    );
    -webkit-backdrop-filter: blur(var(--glass-blur));
    backdrop-filter: blur(var(--glass-blur));
    background-color: hsla(
      var(--type-accent),
      var(--glass-lightness),
      var(--glass-opacity-mid)
    );
  }

  &--light {
    background-color: hsl(var(--secondary-hs), 80%);
    color: var(--color-primary);
    box-shadow: var(--shadow-lg-narrow)
      hsla(
        var(--primary-hs, 0, 0%),
        var(--lightness-shadow),
        var(--glass-opacity-high)
      );
  }
}

.card--light {
  background-color: hsl(var(--secondary-hs), 80%);
  color: var(--color-primary);
  min-height: 4rem;
  padding-inline: var(--space-xs);
  border-radius: var(--rounded-md);

  border: var(--glass-border);
}
