.battle {
  height: var(--space-battle-height);
  width: var(--space-battle-width);
}

.status-msg,
.hp-stat {
  color: hsl(var(--type-accent), 50%);
  transition: color var(--transition-normal);
}

.player-slot {
  grid-column: 2 / 6;
  grid-row: 7 / 11;
  align-self: end;
}

.opponent-slot {
  grid-column: 7 / 11;
  grid-row: 2 / 6;
  align-self: start;
}

.vs-action-zone {
  grid-column: 5 / 9;
  grid-row: 5 / 8;
  z-index: var(--z-foreground);
}
