.config,
.config ul,
.preview,
.preview__buttons,
.prep,
.prep__options,
.random {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-sm);
  width: var(--space-full);
}

.config ul {
  list-style-type: none;
}

.config,
.preview,
.prep {
  flex-direction: column;
}

.config form,
.preview {
  width: 100%;
}

.preview {
  color: var(--color-primary);
  width: var(--space-full);
}

.config form {
  place-items: center;
}

.preview__title {
  color: var(--color-secondary);
}

.preview__buttons {
  margin-block: var(--space-md);
  gap: var(--space-md);
}

.btn--begin {
  margin-inline: var(--space-sm);
}

.card {
  padding-inline: var(--space-xs);
  border-radius: var(--rounded-md);
  width: var(--space-three-quarters);
  filter: drop-shadow(
    0 10px 15px hsla(var(--type-accent, 0, 0%), 50%, 10%, 0.5)
  );
  -webkit-backdrop-filter: blur(var(--glassmorphism-blur));
  backdrop-filter: blur(var(--glassmorphism-blur));
  background-color: hsla(var(--type-accent), 60%, 0.6);
  border: 1px solid hsla(var(--type-accent), 70%, 0.6);
}

.confirmation__not-ready {
  display: none;
}

.confirmation__ready {
  display: block;
}
