:root {
  /* Font Families */
  --font-luckiest-guy: "Luckiest Guy", cursive;
  --font-sour-gummy: "Sour Gummy", sans-serif;

  /* Color Bases */
  --white-hs: 0, 0%;
  --primary-hs: 240, 100%;
  --secondary-hs: 60, 100%;
  --accent-hs: 134, 61%;
  --fire-hs: 20, 100%;
  --water-hs: 200, 100%;
  --grass-hs: 110, 100%;
  --electric-hs: 45, 100%;
  --psychic-hs: 330, 100%;
  --ice-hs: 180, 100%;
  --dragon-hs: 260, 100%;
  --ghost-hs: 270, 50%;
  --poison-hs: 290, 80%;
  --ground-hs: 35, 60%;
  --rock-hs: 40, 30%;
  --bug-hs: 75, 90%;
  --normal-hs: 0, 0%;
  --fighting-hs: 0, 75%;
  --flying-hs: 230, 60%;
  --steel-hs: 210, 20%;
  --fairy-hs: 340, 80%;
  --dark-hs: 0, 0%;

  /* Colors */
  --color-primary: hsl(240, 100%, 50%);
  --color-secondary: hsl(60, 100%, 50%);
  --color-accent: hsl(134, 61%, 50%);
  --color-fire: hsl(20, 100%, 50%);
  --color-water: hsl(200, 100%, 50%);
  --color-grass: hsl(110, 100%, 50%);
  --color-electric: hsl(45, 100%, 50%);
  --color-psychic: hsl(330, 100%, 50%);
  --color-ice: hsl(180, 100%, 50%);
  --color-dragon: hsl(260, 100%, 50%);
  --color-ghost: hsl(270, 50%, 50%);
  --color-poison: hsl(290, 80%, 50%);
  --color-ground: hsl(35, 60%, 50%);
  --color-rock: hsl(40, 30%, 50%);
  --color-bug: hsl(75, 90%, 50%);
  --color-normal: hsl(0, 0%, 50%);
  --color-fighting: hsl(230, 60%, 50%);
  --color-flying: hsl(0, 75%, 50%);
  --color-steel: hsl(210, 20%, 50%);
  --color-fairy: hsl(340, 80%, 50%);
  --color-dark: hsl(0, 0%, 25%);

  /* Font Sizes */
  --text-sm: 0.85rem;
  --text-md: 1.125rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;
  --text-2xl: 2rem;
  --text-3xl: 3rem;
  --text-4xl: 4rem;
  --text-sign: 2.5rem;

  /* Spacing Scale */
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;
  --space-2xl: 3rem;
  --space-forty: 40%;
  --space-half: 50%;
  --space-three-quarters: 75%;
  --space-full: 100%;

  /* Standard Transitions */
  --transition-fast: 0.15s ease;
  --transition-normal: 0.3s ease;
  --transition-slow: 0.5s cubic-bezier(0.4, 0, 0.2, 1);

  /* Border radius' */
  --rounded-sm: 0.25rem;
  --rounded-md: 0.5rem;
  --rounded-lg: 1rem;

  /* Positioning */
  --z-below: -10;
  --z-base: 0;
  --z-middleground: 100;
  --z-foreground: 200;
  --z-overlay: 500;
  --z-debug: 9999;

  /* Glassmorphism */
  --glass-blur: 10px;
  --glass-lightness: 60%;
  --glass-opacity-low: 0.2;
  --glass-opacity-mid: 0.6;
  --glass-opacity-high: 0.9;
  --glass-border: 1px solid
    hsla(var(--type-accent), 70%, var(--glassmorphism-a));

  /* Shadow */
  --shadow-sm: 1px 2px 4px;
  --shadow-md: 2px 4px 8px;
  --shadow-lg: 5px 10px 15px;
}

/* Pokemon types and their colors */
.type-fire {
  --type-accent: var(--fire-hs);
}
.type-water {
  --type-accent: var(--water-hs);
}
.type-grass {
  --type-accent: var(--grass-hs);
}
.type-electric {
  --type-accent: var(--electric-hs);
}
.type-psychic {
  --type-accent: var(--psychic-hs);
}
.type-ice {
  --type-accent: var(--ice-hs);
}
.type-dragon {
  --type-accent: var(--dragon-hs);
}
.type-ghost {
  --type-accent: var(--ghost-hs);
}
.type-poison {
  --type-accent: var(--poison-hs);
}
.type-ground {
  --type-accent: var(--ground-hs);
}
.type-rock {
  --type-accent: var(--rock-hs);
}
.type-bug {
  --type-accent: var(--bug-hs);
}
.type-normal {
  --type-accent: var(--normal-hs);
}
.type-fighting {
  --type-accent: var(--fighting-hs);
}
.type-flying {
  --type-accent: var(--flying-hs);
}
.type-steel {
  --type-accent: var(--steel-hs);
}
.type-fairy {
  --type-accent: var(--fairy-hs);
}
.type-dark {
  --type-accent: var(--dark-hs);
}
[class^="type-"] {
  background-color: hsla(
    var(--type-accent),
    var(--glassmorphism-l),
    var(--glassmorphism-a)
  );
}
[class*="type-flying"],
[class*="type-steel"],
[class*="type-dragon"],
[class*="type-ghost"],
[class*="type-poison"],
[class*="type-water"],
[class*="type-psychic"],
[class*="type-rock"],
[class*="type-fire"],
[class*="type-dark"],
[class*="type-fighting"],
[class*="type-normal"],
[class*="type-ground"],
[class*="type-fairy"] {
  color: var(--color-secondary);
}

.type-is-critical {
  --type-accent: 0, 100%;
  animation: pulse-red 2s infinite;
}
.type-label {
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 0 0 8px hsla(var(--type-accent), 100%, 0.8);
  color: var(--color-secondary);
}

.status-msg,
.hp-stat {
  color: hsl(var(--type-accent), 50%);
  transition: color var(--transition-normal);
}

@keyframes pulse-red {
  0% {
    box-shadow: inset 0 0 10px rgba(255, 0, 0, 0);
  }
  50% {
    box-shadow: inset 0 0 20px rgba(255, 0, 0, 0.5);
  }
  100% {
    box-shadow: inset 0 0 10px rgba(255, 0, 0, 0);
  }
}
