.type-is-critical {
  --type-accent: 0, 100%;
  animation: pulse-red 2s infinite;
}
.type-label {
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: var(--shadow-text) hsla(var(--type-accent), 100%, 0.8);
  color: var(--color-secondary);
}

.status-msg,
.hp-stat {
  color: hsl(var(--type-accent), 50%);
  transition: color var(--transition-normal);
}

.battle {
  height: var(--space-battle-height);
  width: var(--space-battle-width);
}

.player-slot {
  grid-column: 2 / 6;
  grid-row: 7 / 11;
  align-self: end;
}

.opponent-slot {
  grid-column: 7 / 11;
  grid-row: 2 / 6;
  align-self: start;
}

.vs-action-zone {
  grid-column: 5 / 9;
  grid-row: 5 / 8;
  z-index: var(--z-foreground);
}

/* Cards */
.card--glass {
  padding-inline: var(--space-xs);
  border-radius: var(--rounded-md);
  filter: drop-shadow(
    var(--shadow-xl-narrow)
      hsla(
        var(--type-accent),
        var(--lightness-shadow),
        var(--glass-opacity-clip)
      )
  );
  -webkit-backdrop-filter: blur(var(--glass-blur));
  backdrop-filter: blur(var(--glass-blur));
  background-color: hsla(
    var(--type-accent),
    var(--glass-lightness),
    var(--glass-opacity-mid)
  );
  box-shadow: var(--shadow-md-narrow)
    hsla(var(--type-accent), var(--lightness-shadow), var(--glass-opacity-mid));
  border: var(--glass-border);
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes earthquake {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-8px, 4px);
  }
  50% {
    transform: translate(8px, -4px);
  }
  75% {
    transform: translate(-4px, 2px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .anim-shake {
    animation: shake 0.4s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
  .anim-earthquake {
    animation: earthquake 0.3s ease-out;
  }
}
